.loginpage{
    background: linear-gradient(to right, rgb(229, 110, 197) 25%, #ff9800 100%);
}
span i{
    border-radius: 100%;
    background-color: blueviolet;
    padding:10px;
}
.userpage{
    background: linear-gradient(to right, #e73370 37%, #9c27b0 100%);
    padding:40px;
}
.userform{
    margin-left:0%;
    border:10px solid black; 
}
.userheading{
    border:10px solid black;
}
form .error{
    color:red;
}
.logout{
    background-color: blue;
}
.adminpage{
    background-color:linear-gradient(to right, rgb(229, 110, 197) 25%, #ff9800 100%);
}