* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
  }
  body{
    display:block;
  }
  .header {
    height: 700px;
    width: 100%;
    background-image: url("/task2/assets/images/soldier.jpg"),linear-gradient(rgb(0,0,0,0.5),rgb(0,0,0,0.5));
    background-size: cover;
    background-position: center;
    background-blend-mode: overlay;
    overflow: hidden;
  }
  #menu-icon{
    color:green;
    position:absolute;
    top:30px;
    right:50px;
    font-size:30px;
    display:none;
  }
  
  nav {
    display: flex;
    align-items: center;
    justify-content:space-evenly;
    padding-top:30px; 
  }
  nav ul li {
    list-style-type: none;
    display: inline-block;
    padding:0px 10px 0px 15px; 
  }
  #ratiologo{
    padding-left:100px;
  }
  nav ul li a span{
    color:teal;
  }
  
  ul li a {
    text-decoration: none;
    padding: 10px;
    color: white;
  }
  .list{
    display: flex;
    justify-content: center;
  }
  .corner {
    color: white;
    padding-right:100px;
  }
  #login-arrow {
    color: white;
    padding-left:10px;
  }
  .container {
    display: flex;
    flex-direction: column;
    flex-wrap:wrap;
    position: relative;
    padding: 50px 80px 80px 150px;
    width: 32%;
  }
  #logo-overlay{
    position:absolute;
    top:10%;
    left:15%;
    opacity:0.5;
  }
  #passion {
    font-size: 100px;
    color: white;
  }
  .technology {
    font-size: 25px;
    color: white;
    margin-bottom:5%;
    font-weight:300;
  }
  .button {
    background-color: teal;
    border: none;
    color: white;
    padding:  10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 25px;
  }
  #arrow {
    font-size: 20px;
    color: black;
    padding-left:10px;
  }
  .Now {
    text-align: left;
    color: white;
  }
  .second {
    background-color: black;
    height:500px;
  }
  .sectioncontent {
    display: flex;
    justify-content: center;
    padding: 40px 130px;
  }
  .content {
    display: flex;
    width: 50%;
    flex-direction: column;
    padding: 50px 10px 0px 0px;
  }
  #About {
    font-size: 50px;
    padding: 0px 0px 30px 0px;
    color: rgb(78, 75, 75);
  }
  .para {
    font-size: 30px;
    padding: 0px 0px 30px 0px;
    color: white;
    opacity:0.8;
    font-weight:300;
  }
  .btn {
    background-color: teal;
    border: none;
    color: white;
    padding: 10px 15px;
    text-align: center;
    font-size: 16px;
    border-radius: 25px;
    display: flex;
    width: 150px;
  }
  #laptop {
    height: 350px;
    width: 450px;
    border-radius: 16px;
    border-color: black;
    margin-top:20px;
  }
  
  #section2 {
    background-color: black;
    height:200px;
    
  }
  .align-ment {
    display: flex;
    margin-left: 30px;
    padding: 0px 4px;
    justify-content:center;
  }
  .worldclass {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding: 10px 40px;
  }
  #figure {
    color: teal;
    font-size: 30px;
  }
  #number {
    color: white;
    font-size: 40px;
    padding: 10px;
  }
  .letters {
    color: rgb(185, 179, 179);
    font-size: 20px;
  }

  #section3 {
    background-color: black;
    height: 500px;
    width: auto;
  }
  #ecoverse {
    background-color: teal;
    height: 400px;
    width: 1030x;
    margin-left: 315px;
    border-radius: 15px 0px 0px 15px;
    border-color: teal;
    display: flex;
  }
  #ecoverse-text {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 100px;
    padding-right: 200px;
  }
  
  .middle {
    padding: 1px;
    color: white;
    opacity: 0.5;
    font-size: 40px;
  }
  #para2 {
    color: whitesmoke;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 10px 0px;
    opacity: 0.8;
    font-weight:300;
  }
  #para3 {
    color: whitesmoke;
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-bottom: 20px;
    opacity: 0.8;
    font-weight:300;
  }
  
  #missile {
    height: 300px;
    width: 500px;
    border-radius: 20px;
    border-color: teal;
    border: 3px solid teal;
    filter: drop-shadow(0px 10px 16px rgba(0, 0, 0, 0.25));
    margin-left: -220px;
    margin-top: 51px;
    
  }
  #btn2 {
    background-color: black;
    border: none;
    color: white;
    padding:  10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 25px;
    display:flex;
    justify-content:space-evenly;
   
  }
  #arrow2 {
    padding-left: 10px;
    font-size: 20px;
    color: turquoise;
  }
  #video {
    color: white;
    position: absolute;
    margin-top: 160px;
    margin-left: 10px;
    font-size: 44px;
  }
  .section4 {
    background-color: black;
    height: 600px;
    width: 100%;
    margin-top: 0 px;
    overflow: hidden;
  }
  #subscription {
    display: flex;
    justify-content: center;
    padding: 0px 200px;
  }
  .first-box {
    background-color: rgb(78, 75, 75);
    height: 490px;
    width: 350px;
    border-radius: 20px;
    border-color: rgb(78, 75, 75);
    display: flex;
    flex-direction: column;
    padding: 20px 10px;
    position: relative;
  }
  #sub {
    color: white;
    text-align: left;
    font-size: 40px;
    padding: 20px;
  }
  .subscription-text {
    display: flex;
    text-align: left;
    margin-left: 20px;
    color: rgb(185, 179, 179);
    margin-right: 20px;
  }
  .capture {
    display: flex;
    flex: center;
    padding: 10px 30px;
  }
  #captureid {
    height: 170px;
    width: 250px;
    margin-top: 30px;
    border-radius: 20px;
    border: 3px solid rgba(238, 212, 109, 0.11);
    box-shadow: 0px 35px 60px 0px rgb(0 0 0 / 25%);
    background: rgba(153, 153, 153, 0.08);
  }
  .second-box {
    width: 50%;
    display: flex;
    flex-direction: column;
    height: 500px;
    padding-left:10px;
  }
  #payments {
    background-color: rgb(78, 75, 75);
    height: 270px;
    width: 500px;
    border-radius: 20px;
    border-color: dimgray;
    position: relative;
    display: flex;
    overflow: hidden;
  }
  .payment-child {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 30px 30px;
  }
  #pay {
    color: white;
    font-size: 40px;
    padding: 10px 0px;
  }
  #payments-txt {
    color: rgb(185, 179, 179);
  }
  #paymentscapture {
    padding: 0px;
    position: absolute;
    top: 40px;
    right: 0px;
    border-radius: 16px;
    border-color:2px solid rgb(119,117,117);
  }
  
  #Analytics {
    background-color: rgb(78, 75, 75);
    height: 270px;
    width: 500px;
    position: relative;
    margin-left: 0.5px;
    border-radius: 20px;
    border-color: dimgray;
    margin-top: 16px;
  }
  .Analytics-child {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 30px 30px;
  }
  #Analy {
    color: white;
    font-size: 40px;
    padding: 10px 0px;
  }
  #payments-txt {
    color: rgb(185, 179, 179);
  }
  #Analyticscapture {
    padding: 0px;
    height: 150px;
    width: 180px;
    position: absolute;
    top: 30px;
    right: 30px;
    border-radius: 40px;
    border: 3px solid rgba(238, 212, 109, 0.11);
    background: rgba(153, 153, 153, 0.08);
    box-shadow: 0px 35px 60px 0px rgb(0 0 0 / 25%);
  }
  
  
  .section5 {
    background-color: black;
    height: 519px;
    width: 100%;
    margin-top: 0 px;
    overflow: hidden;
  }
  #exchange {
    background-color: teal;
    float:left;
    width:90%;
    border-radius: 0px 10px 10px 0px;
    border-color: teal;
    position:relative;
  }
  #exchange-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    padding: 30px;
    margin-left: 70px;
  }
  #exc {
    padding: 5px;
    color: white;
    opacity: 0.5;
    font-size: 60px;
  }
  #para4 {
    color: whitesmoke;
    font-size: 30px;
    padding: 5px;
    opacity: 0.8;
    padding: 10px 0px;
    font-weight:300;
  }
  #para6 {
    color: whitesmoke;
    font-size: 15px;
    opacity: 0.8;
    padding-bottom:15px;
    font-weight:300;
  }
  #shipyard {
    height: 400px;
    width: 500px;
    border-radius: 20px;
    border:3px solid teal;
    filter: drop-shadow(0px 10px 16px rgba(0, 0, 0, 0.25));
    position: absolute;
    top: 50px;
    left: 800px;
  }
  .signup {
    background-color: black;
    border: none;
    color: white;
    padding:  10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 25px;
    display:flex;
    justify-content:space-evenly;
  }
  #signup-arrow {
    padding-left: 10px;
    font-size: 20px;
    color: turquoise;
  }
  #video-pause {
    color: white;
    position: absolute;
    right:130px;
    top:230px;
    font-size: 44px;
  }
  .section6 {
    background-color: rgb(42, 39, 39);
    height: 500px;
    width: 100%;
    margin-top: 0 px;
    overflow: hidden;
  }
  .Testimonals {
    padding: 0px;
    margin-left: 0px;
    margin-bottom: 40px;
    color: rgb(185, 179, 179);
    opacity: 0.5;
    font-size: 50px;
    font-family: "Times New Roman", Times, serif;
}
.testimonal-text {
  display: flex;
  justify-content: center;
  position: relative;
  margin-top: 50px;
}
  .Loreum-text {
    display: flex;
    flex-direction: column;
    padding: 5px;
    width:50%;
  }
  .big-quote{
    font-size:60px;
    color:white;
    padding-top:10px;
  }
  #quote{
    font-size:60px;
    color:white;
    padding:0px 0px 0px 500px;
  }
  #Freda-Collier {
    color: white;
    font-size: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  u {
    text-underline-offset: 0.5cm;
  }
  #Loreum {
    color: white;
    font-size: 15px;
    color: rgb(185, 179, 179);
    padding-top: 0 px;
  }
  .girl-image {
    display: flex;
    flex: right;
    margin-top: 40px;
    padding: 1px 10px;
}
  #girl-image {
    border-radius: 20px;
    border-color: black;
    height: 300px;
    width: 300px;
  }
  .bracket {
    font-size: 30px;
    padding-top: 0px;
    display: flex;
    position: absolute;
    top: 320px;
}
  #left-arrow {
    color: white;
    padding-right:50px;
    padding-top:30px;
  }
  #right-arrow {
    color: rgb(185, 179, 179);
    padding-left:50px;
    padding-top:30px;
  }
  #bracket-number{
    color: white;
    font-size:60px;
  }
  small {
    color: white;
    padding-top:40px;
    font-size:20px;
    opacity:0.5;
  }
  .footer {
    background-color: black;
    height: 800px;
    width: 100%;
  }
  .row2 {
    display: flex;
    justify-content: space-evenly;
    padding: 30px;
    flex-wrap:wrap;
  }
  .subscribe {
    color: white;
    font-size:20px;
    opacity:0.8; 
  }
  #jim {
    background-color: black;
    border-color:white;
   color: white;
    padding: 3px 10px 3px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;  
    border-radius: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  #jim-arrow {
    padding-left: 100px;
    font-size: 20px;
    color: turquoise;
  }
  #sales {
    background-color: teal;
    border:none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px; 
    border-radius: 20px; 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  #sales-arrow {
    padding-left: 10px;
    font-size: 20px;
    color: black;
  }
  .row {
    display: flex;
    justify-content: space-between;
    color: white;
    flex-wrap:wrap;
    
  }
  footer ul li {
    list-style: none;
    font-size: 15px;
    opacity: 0.8;
    padding:10px 0px;
  }
  .first-list {
    padding-left: 118px;
}
  .second-list {
    padding-left: 0px;
  }
  .third-list {
    padding-left: 0px;
  }
  .fourth-list {
    padding-right: 130px;
  }
  .h3-section {
    display: flex;
    justify-content: start;
    padding-top: 50px;
  }
  #weekly {
    background-color: black;
    border-color:white;
    color: white;
    padding:  10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 25px;
    display:flex;
    justify-content:space-evenly;
    margin-left: 100px;
    
  }
  #challenge {
    background-color: black;
    border-color:white;
    color: white;
    padding:  10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 25px;
    display:flex;
    justify-content:space-evenly;
    margin-left: 40px;
  }
  #challenge-arrow {
    padding-left: 10px;
    font-size: 20px;
    color: rgb(185, 179, 179);
  }
  #stay-connected {
    font-size: 20px;
    padding-right: 50px;
    margin-left: 280px;
    color: white;
  }
  #icon {
    padding-left: 30px;
    font-size: 30px;
  }
  .copy-rights {
    text-align: center;
    margin-top:13%;
    opacity: 0.8;
    color: white;
  }
  